# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
.next/
out/

# Dependency directories
/.pnp
.pnp.js

# TypeScript
*.tsbuildinfo

# Production build
/build

# Test coverage
coverage/

# Environment variables
.env
.env.local
.env.*.local

# Next.js exported static files
/export/

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS system files
.DS_Store

# Miscellaneous
*.swp
*~
